fastapi>=0.110.0
uvicorn[standard]>=0.29.0
pydantic>=2.6.0
pydantic[email]>=2.6.0
pandas>=2.1.0
python-dotenv>=1.0.0
google-genai>=0.3.0

# --- Authentication (NEW) ---
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.9

scikit-learn==1.6.1
xgboost==3.4.1
numpy==2.1.3
joblib==1.5.3